/* Estrutura do site
-------------------------------------------------*/

body {
    font: 14px Helvetica, Arial, sans-serif;
    background: #f4f2ec;
}

header {
    background: url(../img/fundo.png)repeat-x;
    height: 250px;
    padding-top: 20px;
}

/* Formatação do logo
-------------------------------------------------*/

.logo {
    background: url(../img/logo.png) no-repeat;
    width: 100%;
    height: 21px;
    text-indent: -9000px;
}

/* Formatação do menu principal
-------------------------------------------------*/

#menu-principal a {
    text-transform: uppercase;
    color: #af670a;
    position: relative;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

#menu-principal a:hover {
    color: #fff;
}

#menu-principal a::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #ea0e4b;
    width: 0%;
    left: 50%;
    bottom: -10px;
    transition: 0.3s ease-out;
}

#menu-principal a:hover::after {
    left: 0;
    width: 100%;
}

.container .botao-tg {
    background: #af670a;
    position: absolute;
    right: 0;
    margin-right: 30px;
}

.botao-tg:hover {
    background: #227115;
}

/* Formatação do conteúdo
-------------------------------------------------*/

#conteudo {
    position: relative;
    height: 320px;
}

/* Formatação do conteúdo principal
-------------------------------------------------*/

#topo-principal {
    background: url(../img/museu.png) no-repeat;
    position: absolute;
    width: 100%;
    height: 320px;
    top: 0;
    left: 0;
}

/* Formatação da conteúdo lateral
-------------------------------------------------*/

#topo-lateral {
    background: url(../img/depoimento.png) no-repeat;
    position: absolute;
    width: 350px;
    height: 320px;
    top: 0;
    right: 0;
}

/* Formatação do sub conteúdo esquerdo
-------------------------------------------------*/



/* Formatação do rodapé
-------------------------------------------------*/



/* Outras Páginas
-------------------------------------------------*/



/* Responsividade
-------------------------------------------------*/

@media (max-width: 575.98px) {
    
}

@media (min-width: 576px) and (max-width: 767.98px) {
    
}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {
    .container {
        max-width: 1180px;
        min-width: 720px;
    }
}