/* Estrutura do site
-------------------------------------------------*/

body {
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    background: #f4f2ec url(../img/fundo.png) repeat-x;
}

a {
    color: #af670a;
}

a:hover {
    color: #227115;
}

header {
    margin-top: 20px;
    background: url(../img/fundo.png);
}

/* Formatação do logo
-------------------------------------------------*/

.logo {
    background: url(../img/logo.png) no-repeat;
    width: 100%;
    height: 21px;
    text-indent: -9000px;
}

/* Formatação do menu principal
-------------------------------------------------*/

#menu-principal a {
    text-transform: uppercase;
    color: #af670a;
    position: relative;
}

#menu-principal a:hover {
    color: #fff;
}

#menu-principal a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    left: 50%;
    background: #ea0e4b;
    bottom: 0;
    transition: 0.3s ease-out;
}

#menu-principal a:hover::after {
    left: 0;
    width: 100%;
}

.bg-tg {
    background: #af670a;
}

.bg-tg:hover {
    background: #227115;
}

/* Formatação do conteúdo
-------------------------------------------------*/

#conteudo {
    margin-top: 20px;
    position: relative;
}

#principal img {
    margin-bottom: 10px;
}

h3 {
    color: #227115;
    font-size: 100%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;
}

#video {
    width: 310px;
    float: left;
    margin-left: 25px;
}

#mapa {
    width: 310px;
    float: left;
    margin-left: 37px;
}


#exposicoes {
    width: 310px;
    float: left;
    margin: 15px 0 0 25px;
}

#historia {
    width: 310px;
    float: left;
    margin: 15px 0 0 37px;
    text-align: justify;
}

/* Formatação da conteúdo lateral
-------------------------------------------------*/

#lateral img {
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#conteudo-lateral {
    width: 100%;
    background: #ebe7dd;
    overflow: auto;
}

#visita {
    background: #cdc8b1;
    padding: 10px;
}

#verificar {
    background: #9b9271;
    color: #fff;
    margin-top: 20px;
}

#verificar:hover {
    background: #5c5643;
}

h4 {
    color: #af670a;
    font-size: 100%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;
}

#galeria {
    padding: 10px;
}

#galeria a {
    background: url(../img/fundo-foto.png) no-repeat;
    display: block;
    float: left;
    margin: 5%;
}

#galeria img {
    width: 125px;
    padding: 20px 17px 15px 17px;
}

/* Formatação do rodapé
-------------------------------------------------*/

footer {
    background: url(../img/fundo-rodape.png) no-repeat top center;
    text-align: center;
    padding: 20px;
}

#rodape-menu a {
    padding: 10px;
}

/* Outras Páginas
-------------------------------------------------*/



/* Tipografia
-------------------------------------------------*/



/* Breakpoints responsivos com Media Queries
-------------------------------------------------*/

@media (max-width: 575.98px) { /* Extra Small */
    #mapa, #video, #exposicoes, #historia {
        min-width: 90%;
        margin: 20px 0;
        margin-left: 25px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { /* Small */
    .container {
        min-width: 100%;
    }

    #mapa, #video, #exposicoes, #historia {
        min-width: 90%;
        margin: 20px 0;
        margin-left: 25px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { /* Medium */
    .logo {
        min-width: 250px;
    }

    #lateral img {
        min-width: 220px;
    }

    #mapa, #video, #exposicoes, #historia {
        min-width: 90%;
        margin: 20px 0;
        margin-left: 25px;
    }

    #conteudo-lateral {
        width: 220px;
    }

    #galeria img {
        min-width: 180px;
        border: 5px solid #af670a;
    }

    #galeria a {
        background: none;
        margin: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { /* Large */
    #lateral img {
        min-width: 300px;
    }

    #mapa, #video, #exposicoes, #historia {
        width: 260px;
        margin: 22px;
    }

    #conteudo-lateral {
        width: 300px;
    }

    #galeria img {
        min-width: 120px;
    }

    #galeria a {
        margin: 2%;
    }
}

@media (min-width: 1200px) { /* Extra large */
    .container {
        max-width: 1180px;
    }

    #mapa, #video, #exposicoes, #historia {
        margin: 23px;
    }

    #conteudo-lateral {
        width: 350px;
    }
}