/* Estrutura do site
-------------------------------------------------*/

body {
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    background: #f4f2ec url(../img/fundo.png) repeat-x;
}

a {
    color: #af670a;
}

a:hover {
    color: #227115;
}

header {
    margin: 20px 0;
    background: url(../img/fundo.png);
    border: 1px solid red;
}

/* Formatação do logo
-------------------------------------------------*/

.logo {
    background: url(../img/logo.png) no-repeat;
    width: 100%;
    height: 21px;
    text-indent: -9000px;
}

/* Formatação do menu principal
-------------------------------------------------*/

#menu-principal a {
    color: #af670a;
    text-transform: uppercase;
    position: relative;
}

#menu-principal a:hover {
    color: #fff;
}

#menu-principal a::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #ea0e4b;
    width: 0%;
    left: 50%;
    bottom: 0;
    transition: 0.3s ease-out;
}

#menu-principal a:hover::after {
    left: 0;
    width: 100%;
}

.bg-tg {
    background: #af670a;
}

.bg-tg:hover {
    background: #227115;
}

/* Formatação do conteúdo
-------------------------------------------------*/

#conteudo {
    width: 710px;
    float: left;
}

#video {
    float: left;
    width: 310px;
    margin-left: 25px;
}

#mapa {
    float: left;
    width: 310px;
    margin-left: 37px;
}

#exposicoes {
    float: left;
    width: 310px;
    margin: 15px 0 0 25px;
}

#historia {
    float: left;
    width: 310px;
    margin: 15px 0 0 37px;
}

#historia p {
    text-align: justify;
}

/* Formatação da conteúdo lateral
-------------------------------------------------*/

aside {
    width: 350px;
    float: right;
    background: #ebe7dd;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

#visita {
    background: #cdc8b1;
    padding: 10px 27px 27px 27px;
    margin-top: 10px;
}

#verificar {
    background: #af670a;
    color: #fff;
    margin-top: 20px;
}

#verificar:hover {
    background: #227115;
}

/* Formatação do rodapé
-------------------------------------------------*/



/* Outras Páginas
-------------------------------------------------*/



/* Tipografia
-------------------------------------------------*/

h3 {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #227115;
    padding-bottom: 10px;
}

/* Breakpoints responsivos com Media Queries
-------------------------------------------------*/

@media (max-width: 575.98px) { /* Extra Small */
    
}

@media (min-width: 576px) and (max-width: 767.98px) { /* Small */
    
}

@media (min-width: 768px) and (max-width: 991.98px) { /* Medium */
    .logo {
        min-width: 250px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { /* Large */
    
}

@media (min-width: 1200px) { /* Extra large */
    .container {
        max-width: 1180px;
    }
}